.about {
    /* padding-top: 22vh; */
    display: flex;
    flex-direction: column;
    gap: 10vh;
    align-items: center;
    /* margin-left: auto;
    margin-right: auto; */
}
.about-main{
    height: 100vh;
    background-color: #045346;
    color: #fbf7f0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5vw;
    padding-left: 10vw;
    padding-right: 10vw;

}
.about-section{
    height: 100%;
    /* width: 100vw; */
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: space-around; */
    /* gap: 1vh; */
    padding-left: 10vw;
    padding-right: 10vw;
   
}

.about-main-img{
    width: 45vw;
    border-radius: 20px;
    box-shadow:rgba(0, 0, 0, 0.863) 4px 4px 10px;
}
.about-main-img-mobile{
    display: none;
}

.about-main h1{
    color: #d49f11;
    font-size: 30px;
    font-weight: 400;
    /* padding-bottom: 20px; */
}

.about-section h2{
    font-size: 30px;
    font-weight: 500;
    color: #045346;
}
.about-dr-aakriti{
    display: flex;
    flex-direction: column;
}
.about-our-team{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    padding-bottom: 0;
}

.about-img{
    border-radius: 20px;
    width: 20vw;
}

.about-content{
    background-color: #e5f0e6;
    width: 44vw;
    height: auto;
    border-radius: 20px 20px 0 0;
    padding: 20px ;
    padding-top: 30px;

}
.about-content-para2{
    background-color: #e5f0e6;
    width: 65vw;
    border-radius:20px 0 0 0;
    padding: 20px;
    padding-top: 10px;
}
.about-content-para3{
    background-color: #e5f0e6;
    width: 65vw;
    border-radius:0 0 20px 20px;
    padding: 20px;
    padding-top: 0;
}
.about-our-commitment{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    text-align: left;
    /* height: 100vh; */
    width: 100vw;
    padding-left: 12vw;
    padding-right: 12vw;
    padding-bottom: 10vh;
    padding-top: 10vh;
    background-color: #fbf7f0;
    
}

.about-our-commitment h2{
    font-size: 30px;
    font-weight: 500;
    color: #045346;
    text-align: center;
    padding-bottom: 20px;
}

.about-our-commitment h2 span{
    font-family: "La Gagliane", cursive;
    font-weight: 700;
    letter-spacing: 2px;
}
.about-main{
    padding-top:30vh;
}

.join-us{
    height: 100%;
    background-image: url("../src/images/join-us-bg.jpg");
    padding: 10vh 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.join-us-content{
    display: flex;
    padding: 10vh 10vw;
    flex-direction: column;
    /* background-color: #045346; */
    gap: 2vh;
    background-color: #ffffff77;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    position: relative;
}
.join-us-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('https://www.transparenttextures.com/patterns/black-paper.png'); /* Replace with your noise texture URL */
    opacity: 0.5; /* Adjust opacity to control how strong the effect is */
    pointer-events: none; /* Prevent the texture from blocking interactions */
}

.join-us h2{
    text-align: center;
    color: #012f2c;
    font-weight: 550;
}

.join-us p{
    color: #232426;
    font-size: 22px;
    
}

@media (max-width: 1200px){
    .about{
        padding:  0;
    }
    .about-main{
        height: 100%;
        padding-top: 10vh;
    }
    .about-main div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2vh;
        /* height: 100%; */
        padding: 15vh 0;
    }
    .about-main-img{
        display: none;
    }
    .about-main-img-mobile{
        display: block;
        width: 40%;
        border-radius: 30px;

    }
    .about-our-team{
        display: flex;
        flex-direction: column;
    }
    .about-content{
        width: 80vw;
        border-radius: 20px ;
        margin-bottom: 2vh;
        padding: 20px;
    }
    .about-content-para2{
        width: 80vw;
        border-radius: 20px ;
        margin-bottom: 2vh;
        padding: 20px;
    }
    .about-content-para3{
        width: 80vw;
        border-radius: 20px ;
        padding: 20px;
    }
    
}

@media (max-width: 700px){
    
    .about-main div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2vh;
        /* height: 100%; */
        padding:  10vh 0; 
    }
    .about-main-img-mobile{
        display: block;
        width: 80%;
        border-radius: 30px;

    }

    .about-img{
        width: 70vw;
    }

}

