.blog-page {
    padding: 25vh 8vw;
}
.blog-page h1{
    height: 25px;
    font-weight: 700;
    color: #045346;
}

.blog-page-section {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.blog-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2vw;
    /* justify-content: center; */
}

.blog-list-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 0 1 250px; /* Fixed width */
    max-width: 250px; /* Prevents stretching */
    align-items: center;
    gap: 5px;
    padding: 10px;
    justify-content: space-between;
    border: 2px solid #045346;
    border-radius: 20px;
    transition: 0.5s ease all;
    background-color: rgb(229, 240, 230);
    box-shadow: 1px 1px 5px #2324267e ;
}

.blog-list-item:hover{
    transform: scale(1.05);
    box-shadow: 3px 3px 5px #2324269d ;
}


.blog-list-img {
    width: 90%;
    border-radius: 20px;
}
.blog-list-item h3{
    font-weight: 600;
    color: #045346;
}

.blog-list-item div{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px;
}
.blog-read-more-button{
    background-color: #045346;
    height: 40px;
    width: 50%;
    border-radius: 10px ;
    color:#d49f11;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease all;
}
.blog-read-more-button:hover{
    /* font-weight: 500; */
    background-color: #effdfb;
    border: 1px solid #045346;
    cursor: pointer;
}


/* Responsive adjustments */
@media (max-width: 1200px) {
    .blog-page h1{
        text-align: center;
    }
    .blog-list{
        align-items: center;
        justify-content: center;
        gap: 10vh;
    }
    .blog-page-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .blog-list-item {
        flex: 1 1 calc(33.33% - 5vw); /* 3 items per row */
        align-items: center;
        justify-content: center;
       
    }
}
@media (max-width: 900px){
    .blog-page{
        padding-top: 25vh;
    }
}

@media (max-width: 900px) {
    .blog-list-item {
        flex: 1 1 calc(50% - 5vw); /* 2 items per row */
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .blog-page {
        padding: 25vh 5vw; /* Adjust margins for smaller screens */
        margin-bottom: 0;
    }
    .blog-list-item {
        flex: 1 1 100%; /* 1 item per row */
        align-items: center;
        justify-content: center;
    }
    .blog-page-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 400px) {
    .blog-page {
      padding: 23vh 5vw; /* Adjust margins for smaller screens */
    }


    .blog-list-item {
        width: auto; /* Make item width auto for very small screens */
        align-items: center;
        justify-content: center;
    }
    .blog-page-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
