.carousel {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    padding: 30px 0;
    background: #3a4f4b;
}

.carousel h2 {
    padding-bottom: 20px;
}

.carousel-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    display: flex;
    min-width: 100%;
    gap: 30px;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.carousel-slide img {
    width: 15%;
    display: block;
    border-radius: 20px;
}

.carousel-control {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    background: #3a4f4b;
    color: #fbf7f0;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    transition: background 0.3s ease;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.p {
    font-family: "Playfair Display", serif;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 1.5px;
    color: #fbf7f0;
    font-size: 25px;
    width: 60vw;
    margin: 0 auto;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .carousel {
        /* height: 600px; */
    }

    .p {
        font-size: 1.3rem;
        margin: 10% 12%; /* Uniform margin for better spacing */
    }
    .carousel-slide{
        gap: 15px;
    }
    .carousel-slide img {
        width: 40%;
      
    }

    .h4 {
        text-align: center;
        font-size: 0.6rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .carousel {
        height: 750px;
        margin-top: 25px;
    }

    .carousel-slide img {
        width: 40%; /* Adjust image width for tablets */
        margin: 7% auto; /* Center and provide space */
    }
    .carousel-slide{
        gap: 15px;
    }
    .p {
        font-size: 2rem;
        margin: 7% 15%; /* Improved margin for better aesthetics */
    }

    .carousel-control {
        width: 35px;
        height: 35px;
        font-size: 18px;
    }
}
