.dr-mehta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding: 40px;
    gap: 20px;
    background-color: #fffefc;    
}

.dr-mehta-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.dr-mehta-images{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.drmehtabg{
    /* height: 50vh; */
    background-image: url("../src/images/dr-akriti-bg.jpg");
    width: 70vw;
    height: 40vh;
    border-radius: 10px 10px 0 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.drmehta{
    height: 20vh;
   
    border-radius: 50%;
    position: absolute;
    top: 30vh;
    background-color: #e5f0e6;
    border: 5px solid white;
}

.dr-mehta-about{
    width: 70%;
    margin-top: 10vh;
    background-color: #e5f0e6;
    padding: 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.dr-mehta-readmore{
    background-color: #fcd961;
    padding: 10px;
    border-radius: 10px;
}
.dr-mehta-about p{
    
    padding: 10px;
   
}

@media (max-width: 768px){
    .drmehtabg{
        height: 25vh;
    }
    .drmehta{
        top: 15vh;
    }

    .dr-mehta-about{
        width: 100%;
    }

}

@media (max-width: 1000px){
    .dr-mehta-about{
        width: 100%;
    }


}