.footer{
    background-color:#045346 ;
    display: flex;
    flex-direction: column;
    gap: 10vh;
    color: #fffefc;

    padding: 5vh;
}
.footer-logo{
    width: 16vw;
    padding-left: 20px;
    padding-top: 20px;
}

.footer-content{
    display: flex;
    justify-content: space-around;
}

.footer-left{
    display: flex;
    gap: 10vw;
    
}

.footer-left-section{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
   
}
.footer-left-heading{
    color: #fcd961;
    font-size: 22px;
}
.footer-links{
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}
.footer-link{
    font-size: 22px;
}

.footer-link:hover{
    color: #fcd961;
}

.footer-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.footer-right-heading{
    color: #fcd961;
    font-size: 25px;
    text-align: center;
}

.footer-right-content{
    background-color: #e5f0e6;
    padding: 15px;
    color: #232426;
    border-radius: 20px;
    margin-bottom: 20px;
    height: 20vh;
    font-size: 18px;
    width: 100%;
}

.footer-end{
    width: 10vw;
    padding: 10px;
}
@media (max-width: 1000px){
    .footer-link{
        font-size: 18px;
    }
    .footer-right-content{
        font-size: 18px;
    }
}

@media (max-width: 800px){
    .footer-logo{
        padding: 0;
        width: 50vw;
    }
    .footer{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer-content{
        display: flex;
        flex-direction: column;
        gap: 20px;

    }
    .footer-end{
        width: 30vw;
    }
}

@media(max-width:700px){
    .footer-left{
        display: flex;
        flex-direction: column;
    }
}