@tailwind base;
@tailwind components;
@tailwind utilities;
/* #045346 #fbf7f0 #d49f11 #e5f0e6 #fffefc */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-family: "Slabo", serif;
    font-weight: normal;
    font-size: 1.1rem;
    line-height: 160%;
  }
  body{
    color: #232426;
    
  }
  /* For Webkit browsers (Chrome, Safari) */
  ::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #f5f5f5; /* Background color of the track */
    border-radius: 10px; /* Round the corners of the track */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888; /* Color of the draggable part of the scrollbar */
    border-radius: 10px; /* Round the corners of the thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the thumb when hovered */
  }
  
  /* For Firefox */
  * {
    scrollbar-width: thin; /* Options are auto, thin, or none */
    scrollbar-color: #888 #f5f5f5; /* First color is the thumb, second is the track */
  }

  h2{
    color: #d49f11;
    font-size: 30px;
  }
  h3{
    font-size: 20px;
    /* height: 60px; */
   
  }

  .special-text{
    width: 60vw;
    font-size: 25px;
    /* font-family:"Slabo", cursive; */
    letter-spacing: 1px;
    /* line-height: 50px; */
  }